$background : #000000;
$canvassize : 1024px;


body{
  margin: 0px;
}

div.info{
  position: absolute;
  width:$canvassize;
  height:$canvassize;
  background-image: url('../imgs/mosquitos.png');
  h1{
    font-family: monospace;
    margin-left:660px;
    margin-top:60px;
  }

}

#game{
  width:$canvassize;
  height:$canvassize;
  background-color: $background;
  background-image: url('../imgs/polen.png')
}

.hidden{
  display: none;
}
