$background : #000000;

body{
  margin: 0px;
}

div.info{
  position: absolute;
  top:60px;
  left:30px;
  h1{
    font-family: monospace;
  }
}

#game{
  width:512px;
  height:512px;
  background-color: $background;
  background-image: url('../imgs/polen.png')
}

pre{
  display: none;
}
